#groupList{
    color: white;
    
}

#groupList > li{
    border: 1px solid #E50913;
    list-style-position: inside;
    padding: 0.5em;
}

#groupList li:nth-child(1)::marker {
    color: gold;
    font-weight: bold;
  }
  
  #groupList li:nth-child(2)::marker {
    color: silver;
    font-weight: bold;
  }
  
  #groupList li:nth-child(3)::marker {
    color: #cd7f32; /* bronze */
    font-weight: bold;
  }

  #backDropLeader{
    
        width: 90%;    
        border-radius: 20px;
        background: #0D0000;
        height: 100%;
    
  }