#groupList{
    color: white;
    padding: 0;
    
}

#groupList > li{
    border: 1px solid #E50913;
    list-style-position: inside;
    padding: 0.5em;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: decimal;
}

.li-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}

#groupList li:nth-child(1)::marker {
    color: gold;
    font-weight: bold;
  }
  
  #groupList li:nth-child(2)::marker {
    color: silver;
    font-weight: bold;
  }
  
  #groupList li:nth-child(3)::marker {
    color: #cd7f32; /* bronze */
    font-weight: bold;
  }

  #backDropLeader{
    
        width: 90%;    
        border-radius: 20px;
        background: #0D0000;
        height: 100%;
    
  }

  #leaderText, #explainText{
    color: #E50913;
    text-align: center;
  }

  #leaderText{
    font-family: Technology;
    font-size: 1.95rem;
  }

  #explainText{
    font-family: ptmono;
    font-size: 0.9rem;
  }


  #textContainerLeader {
    margin-top: 39%;        
    margin-right: 10%;
    margin-left: 10%;
    font-family: ptmono;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    
}