@font-face {
    font-family: "technology";
    src: url("./assets/fonts/technology/Technology.ttf") format("truetype");
}
  
  @font-face {
    font-family: "play";
    src: url("./assets/fonts/Play/Play-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main {
    width: 440px;
    background-color: black;
}