@font-face {
    font-family: "vt323";
    src: url("./assets/fonts/VT323-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "technology";
    src: url("./assets/fonts/technology/Technology.ttf") format("truetype");
}
  
@font-face {
    font-family: "play";
    src: url("./assets/fonts/Play/Play-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ptmono";
    src: url("./assets/fonts/PTmono/PTMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "quantico";
    src: url("./assets/fonts/Quantico/Quantico-Regular.ttf") format("truetype");
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

@keyframes blinkRed {
    0%, 100% { color: #b3b3b3; }
    50% { color: red; }
}

@media screen and (min-width: 360px) and (max-width: 700px) {
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    
    main {
        width: 100%;
        background-color: black;
    }
    
    #wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    #page-container {
        position: relative;
        margin: 0;
        height: 100%;
        background-image: url("/static/assets/images/background_red_coding.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }
    
    .noScroll{
        overflow-y: hidden;
    }
    
    #opacityBackground {
        width: 100%;
        background: rgba(0, 0, 0, 0.50);
        display: flex;
        justify-content: center;
    }
    
    #backdrop-container {
        width: 100%;
        position: relative;
    }
    
    #textContainer {
        margin-top: 39%;        
        margin-right: 23%;
        margin-left: 10%;
        font-family: ptmono;
        line-height: 150%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #FFF;
        
    }
    
    #headerText {
        margin: 0 0 26px 0;
        font-size: 1.25rem;
    }
    
    #bodyText {
        margin: 0;
        font-size: 1rem;
    }
    
    #nextStepButton {
        height: 3.5rem;
        margin-top: 1.5rem;
        margin-bottom: 2.125rem;
        border: none;
        border-radius: 20px;
        background: #A6032F;
    
        text-align: center;
        color: #FFF;
        font-size: 1.5rem;
        font-family: vt323;
    }
    
    #inputField{
        height: 65px;
        margin: 24px 0 0 0;
        border: 1px solid #E50913;
        border-radius: 25px;
        background: #0D0000;
        text-align: center;
        color: #b3b3b3;
        font-size: 24px;
        font-family: vt323;
    }
    
    
    .input-error {
        animation: shake 0.4s ease, blinkRed 0.6s ease;
        
    }
    
    #popup-container {
        margin: 1.3rem;
        position: absolute;
        top: 4.5rem;
        z-index: 1010;
        background-color: rgb(13, 0, 0, 0.2);
        border-radius: 20px;
        border: 1px solid #E50913;
        backdrop-filter: blur(440px);
        box-shadow: -20px -20px 20px 0px rgba(54, 34, 34, 0.25), 20px 20px 20px 0px rgba(54, 34, 34, 0.25);
    }
    
    #head-text-popup {
        font-family: ptmono;
        font-size: 1.25rem;
        color: #FFF;
        text-align: center;
        margin: 3rem 0 1.75rem 0;
    }
    
    #popup-text-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        padding-left: 1.75rem;
        line-height: 1.3rem;
    }
    
    #popup-text-headlines {
        font-family: ptmono;
        font-size: 16px;
        color: #FFF;
        margin: 0;
    }
    
    #popup-text {
        font-family: ptmono;
        font-size: 14px;
        color: #FFF;
        margin: 0.8rem 0 1.2rem 0;
    }
    
    #audio-container {
        margin-top: 4.25rem;
    }
    
    .blur {
        filter: blur(5px);
    }
}