@font-face {
    font-family: "technology";
    src: url("./assets/fonts/technology/Technology.ttf") format("truetype");
}
  
@font-face {
    font-family: "play";
    src: url("./assets/fonts/Play/Play-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ptmono";
    src: url("./assets/fonts/PTmono/PTMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "quantico";
    src: url("./assets/fonts/Quantico/Quantico-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

main {
    width: 440px;
    background-color: black;
}

#wrapper {
    overflow: scroll;
}