#gameCompleteText {
    margin-top: 100%;
    margin-bottom: 100%;
    color: #E50913;
    font-size: 1rem;
    font-family: ptmono;
    text-align: center;
}

.headerGameOver {
    font-family: technology;
    font-size: 3rem;
}

