#video-modal-1 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    
}

#video-content {
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
}

#close-popup-button-container-1 {
    position: absolute;
    z-index: 1111;
    top: 2%;
    left: -2%;
    width: 3.125rem;
    height: 3.125rem;
    margin-left: 86%;
}

#close-popup-button-1 {
    border: none;
    background: transparent;
}