#video-modal-1 {
    width: 440px;
    height: 934px;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    
}

#video-content {
    width: 440px;
    height: 934px;
    position: relative;
    background: black;
}

#close-popup-button-container-1 {
    z-index: 999;
    top: 11.9rem;
    left: 21rem;
    width: 50px;
    height: 50px;
}

#close-popup-button-1 {
    border: none;
    background: transparent;
}