@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#background-div {
    height: 100%;
    background-image: url("../../assets/images/hooded_figure.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 4s ease forwards;
    animation-delay: 2s;
}

h1 {
    font-family: vt323;
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 140px;
    position: relative;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 5s;
}

#dots {
    color: white;
}

#typewriter {
    
    color: white;
    font-family: vt323;
    font-size: 24px;
    text-align: center;
    
}

.cursor {
    display: inline;
}

#start-game-button {
    width: 400px;
    height: 65px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 330px;
    border: none;
    background: #A6032F;
    color: #FFF;
    text-align: center;
    font-family: vt323;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 16s;
}