#popup-container-mediafiles {
    position: absolute;
    top: 5.5rem;    
    z-index: 1015;
    background-color: rgb(13, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(440px);
    -webkit-backdrop-filter: blur(440px);
    box-shadow: -20px -20px 20px 0px rgba(54, 34, 34, 0.25), 20px 20px 20px 0px rgba(54, 34, 34, 0.25);
    width: 90%;
    left: 5%;
    border: 1px solid #E50913;
}

#popup-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
}

#textContainerPopup {
   
    font-family: ptmono;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    
}

.content-buttons {
    border: none;
    background: transparent;
}

#xPopupFolder{
    text-align: right;
    padding-top: 40px;
    font-size: 2rem;
    font-family: ptmono;
}

#popupArrowContainer{
    display: flex;
    justify-content: space-between;
}

#prevArrow, #nextArrow{
    font-size: 2rem;
    font-family: ptmono;
}

#popup-container-song {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    z-index: 1020;
    background-color: black;
}

.chorus {
    color: #E50913;
}