#opacityBackgroundPage9 {
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
}

#backDrop9{
    width: 100%;
    height: 100%;
    background: #0D0000;
}

#quizContainer{
    margin-top: 5rem;
    margin-left: 3rem;
    text-align: center;
}

#answerContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 0.7rem; 
    margin: 1rem 0.5rem 2rem 0.5rem;
}

.answerDiv{
    border: 1px solid #E50913;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    color: #fff;
    font-family: ptmono;
    font-size: 0.875rem;
    border-radius: 20px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.selected {
    background-color: #b4b4b4; /* or whatever style you want */
    border: 2px solid white;
}

#submitButton {
    width: 85%;
    border-radius: 20px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
    border: none;
    background: #A6032F;
    color: #FFF;
    text-align: center;
    font-family: vt323;
    font-size: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}