#popup-container-aboutus {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5.5rem;    
    z-index: 1016;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(13, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px solid #E50913;
    backdrop-filter: blur(440px);
    -webkit-backdrop-filter: blur(440px);
    box-shadow: -20px -20px 20px 0px rgba(54, 34, 34, 0.25), 20px 20px 20px 0px rgba(54, 34, 34, 0.25);
}

#popup-content-container-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
}

#popup-text-headline-contact {
    font-family: ptmono;
    font-size: 1rem;
    color: #FFF;
}

#popup-text-headline-about {
    font-family: ptmono;
    font-size: 1rem;
    color: #FFF;
}

#popup-text-contact {
    font-family: ptmono;
    font-size: 0.9rem;
    color: #FFF;
    margin: 0 4.5rem 0 4.5rem;
}

#creaters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 0.5rem;
    padding-left: 3rem;
    padding-right: 1.2rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    color: #FFF;
    font-family: ptmono;
    font-size: 0.9rem;
}

#creater-pic-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-image: url(../../assets/images/creater1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
}

#creater-program-1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
}

#creater-pic-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-image: url(../../assets/images/creater2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
}

#creater-program-2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
}

#creater-pic-3 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    background-image: url(../../assets/images/creater3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-3 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin: 0;
}

#creater-program-3 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    margin: 0;
}

#creater-pic-4 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    background-image: url(../../assets/images/creater4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-4 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    margin: 0;
}

#creater-program-4 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    margin: 0;
}

#creater-pic-5 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;

    background-image: url(../../assets/images/creater5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-5 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    margin: 0;
}

#creater-program-5 {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
    margin: 0;
}

#popup-text-container-aboutus {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
    border-top: 1px solid #A6032F;
    padding: 0 1rem 0 1rem;
}
