#popup-container-aboutus {
    margin: 1.3rem;
    width: 25rem;
    max-height: 90vh;
    position: absolute;
    top: 3.5rem;
    left: 25.5rem;
    z-index: 1010;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(13, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(440px);
    box-shadow: -20px -20px 20px 0px rgba(54, 34, 34, 0.25), 20px 20px 20px 0px rgba(54, 34, 34, 0.25);
}

#popup-content-container-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
}

#popup-text-headline-contact {
    font-family: ptmono;
    font-size: 16px;
    color: #FFF;
}

#popup-text-headline-about {
    font-family: ptmono;
    font-size: 16px;
    color: #FFF;
}

#creaters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 0.5rem;
    padding-left: 60px;    
    margin-bottom: 40px;
    color: #FFF;
    font-family: ptmono;
    font-size: 14px;
}

#creater-pic-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-image: url(../../assets/images/creater1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
}

#creater-program-1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0;
}

#creater-pic-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-image: url(../../assets/images/creater2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
}

#creater-program-2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
}

#creater-pic-3 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    background-image: url(../../assets/images/creater3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-3 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin: 0;
}

#creater-program-3 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    margin: 0;
}

#creater-pic-4 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    background-image: url(../../assets/images/creater4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-4 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    margin: 0;
}

#creater-program-4 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    margin: 0;
}

#creater-pic-5 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;

    background-image: url(../../assets/images/creater5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#creater-name-5 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    margin: 0;
}

#creater-program-5 {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
    margin: 0;
}

#popup-text-container-aboutus {
    width: 22.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
    border-top: 1px solid #A6032F;
}
