#opacityBackground12 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
}

#backDrop12 {
    width: 90%;
    height: 37rem;
    border-radius: 20px;
    background: #0D0000;
}