#backDrop8{
    width: 400px;
    height: 1000px;
    border-radius: 20px;
    background: #0D0000;
}

#quizContainer{
    margin-top: 100px;
    text-align: center;
}

#answerContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 10px; 
    margin-top: 50px;
  
    
}

.answerDiv{
    border: 1px solid #E50913;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 178px;
    color: #fff;
    font-family: ptmono;
    border-radius: 20px;
}