:root {
    --menu-button-size: 50px;
}

#menu-container {
    position: absolute;
    top: 12vh;
    left: 62vw;
    width: 50px;
    height: 190px;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#menu-button-containers {
    width: var(--menu-button-size);
    height: var(--menu-button-size);
    background-color: #0D0000;
    border: 1px solid #E50913;
    border-radius: 50px;
}

#menu-button {
    margin: 14%;
    border: none;
    background: transparent;
}

#media-button {
    margin: 4%;
    border: none;
    background: transparent;
}

#info-button {
    margin: 6%;
    border: none;
    background: transparent;
}