:root {
    --menu-button-size: 50px;
}

#menu-container {
    position: fixed;
    top: 15vh; 
    margin-left: 78%;    
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

#menu-button-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--menu-button-size);
    height: var(--menu-button-size);
    background-color: #0D0000;
    border: 1px solid #E50913;
    border-radius: 50px;
}

#menu-button {
    margin: 14%;
    border: none;
    background: transparent;
}

#media-button {
    margin: 4%;
    border: none;
    background: transparent;
}

#info-button {
    margin: 6%;
    border: none;
    background: transparent;
}