#close-popup-button-container-rules {
    position: absolute;
    z-index: 999;
    top: 0.6rem;
    right: 0.2rem;
}

#close-popup-button {
    border: none;
    background: transparent;
}

.longerPopup {
    height: 85%;
    overflow-y: scroll;
}