#tipsPopupContainer{
    width: 440px;
    height: 100%;
    background-color: #0D0000;
    position: absolute;
    top: 10px;
    left: 732px;
}

#mainNumber{
    color: #ffffff;
    font-family: ptmono;
    font-size: 40px;
    margin-top: 50%;
    text-align: center;
}

#numbersGridContainer{
    margin-top: 20%;
    display: grid;
    color: #ffffff;
    font-family: ptmono;
    font-size: 40px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 1fr);    
    gap: 10px; 
    text-align: center;
}

.gridCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.gridCell div:first-child {
    font-size: 36px; /* big number */
    line-height: 1;
}

.gridCell div:last-child {
    font-size: 14px; /* small letters */
    line-height: 1;
    margin-top: 4px;
    color: #aaa;
}

#xTips{
    color: white;
    margin-top: 20%;
    margin-left: 90%;
    font-size: 40px;

}